@using PhotographiApp.Web.ViewModels.TopicReply
@model ICollection<TopicReplyViewModel>

<div class="list-group list-group-flush">
    @foreach (var reply in Model)
    {
        <div class="review mt-4">
            <div class="d-flex flex-row comment-user">
                <img class="rounded" src="~/images/anonymous-user.jpg" width="40">
                <div class="ml-2">
                    <div class="d-flex flex-row align-items-center">
                        <span class="name font-weight-bold"><a asp-controller="Profile" asp-action="Show" asp-route-id="@reply.UserId">@reply.UserUserName</a></span><span class="date"> @reply.CreatedOn.ToString("ddd MMM yyyy, hh:mm")</span>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <p class="comment-text">@reply.Value</p>
            </div>
        </div>
    }
</div>
