@using PhotographiApp.Web.ViewModels.Comments
@model CommentInputModel
@{ 
    ViewData["Title"] = "Add comment";
}

<form method="post" class="col-md-6 offset-md-3 mt-3">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="PhotoId" hidden/>
    <div class="form-group">
        <label>Comment</label>
        <textarea asp-for="Value" class="form-control"></textarea>
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-dark" title="Add comment" value="Add comment"/>
</form>
