@{
    ViewData["Title"] = "Create topic successful!";
}

<div class="col-md-6 offset-md-3">
    <h1>You have created topic successfully!</h1>
    <br />
    <a asp-controller="Topic" asp-action="Create">Create another</a> or <a asp-controller="Home" asp-action="Index">go back to Home!</a>
</div>