@using PhotographiApp.Web.ViewModels.Photos
@model ICollection<PhotoViewModel>
@{
    this.ViewData["Title"] = "Welcome to Photographi";
}
<div class="row">
    <div class="col-12">
        <h1>Latest uploads</h1>
    </div>
    
</div>
<div class="row">
    <div class="col-12">
        @foreach (var photo in Model)
        {
            <a asp-controller="Photo" asp-action="Show" asp-route-id="@photo.Id"><img src="@photo.ThumbnailHref" alt="@photo.Title" /></a>
        }
    </div>
</div>

