@{ 
    ViewData["Title"] = "Error occured!";
}
<div class="col-md-6 offset-md-3 mt-5 text-center">
    <img src="~/images/error-icon.png" width="100" alt="Error"/>
    <h1>@ViewData["Error"]</h1>
</div>
