@{
    ViewData["Title"] = "Create album successful!";
}

<div class="col-md-6 offset-md-3">
    <h1>Your album has been created successfully!</h1>
    <br />
    <a asp-controller="Album" asp-action="Create">Create another</a> or <a asp-controller="Home" asp-action="Index">go back to Home!</a>
</div>
