@using PhotographiApp.Web.ViewModels.Photos;
@model EditPhotoViewModel

@{
    this.ViewData["Title"] = "Edit photo";
}

<form method="post" class="col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LicenseId">License</label>
        <select asp-for="LicenseId" class="form-control">
            @foreach (var license in Model.Licenses)
            {
                <option value="@license.Key">@license.Value</option>
            }
        </select>
        <span asp-validation-for="LicenseId" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="IsPrivate" type="checkbox" class="form-check-input" />
        <label asp-for="IsPrivate" class="form-check-label">Is Private?</label>
        <span asp-validation-for="IsPrivate" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="IsCommentAllowed" class="form-check-input" />
        <label asp-for="IsCommentAllowed" class="form-check-label">Allow commenting ?</label>
        <span asp-validation-for="IsCommentAllowed" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-dark" title="Update" value="Update"/>
</form>
