@{
    ViewData["Title"] = "Upload successful!";
}

<div class="col-md-6 offset-md-3">
    <h1>Your photo have been uploaded successfully!</h1>
    <br />
    <a asp-controller="Photo" asp-action="Upload">Upload another</a> or <a asp-controller="Home" asp-action="Index">go back to Home!</a>
</div>
